
h1{
    font-family: 'Lobster Two', cursive;
}
h2{
    font-size: clamp(41px, 5vw, 51px);
    font-family: 'Lobster Two', cursive;
}
h3{
    font-family: 'Lobster Two', cursive;
}

p{
    font-size: clamp(12px, 5vw, 1rem);
}

a{
    text-decoration: none !important;
    color: black;
    cursor: pointer;
}

.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.center{
    text-align: center;
}

.cake-holder{
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
}

.card-button{
    border: 2px solid #fae976;
    background: white;
    padding: 4px 40px;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
}

.card-button:hover{
    background: #ff6ea7;
    color: white;
    border: 2px solid #ff6ea7; 
}

.strike-price{
    color: grey;
}

.tab-cake li{
    display: inline-block;
    margin: 0px 20px;
}

.tab-cake img{
    margin:auto auto 10px;
    display:block;
}

.tab-cake li a{
    padding: 0 0 15px 0;
    background: none;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    border-left: none;
    border-right: none;
    font-size: clamp(11px, 2vw, 18px);
    display: inline-block;
    margin: 0 20px;
}