body{
    font-family: 'Lobster Two', cursive;
}

h2{
    font-size: 51px;
}

a{
    text-decoration: none !important;
    color: black;
    cursor: pointer;
}

.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.center{
    text-align: center;
}

.cake-holder{
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
}

.card-button{
    border: 2px solid #fae976;
    background: white;
    padding: 4px 40px;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
}

.card-button:hover{
    background: #ff6ea7;
    color: white;
    border: 2px solid #ff6ea7; 
}

.strike-price{
    color: grey;
}

.tab-cake li{
    display: inline-block;
    padding: 3px 18px;
}

.tab-cake li>img{
    display: block;
}