
h1{
    font-family: 'Lobster Two', cursive;
}
h2{
    font-size: clamp(45px, 5vw, 51px);
    font-family: 'Lobster Two', cursive;
}
h3{
    font-family: 'Lobster Two', cursive;
}

p{
    font-size: clamp(18px, 2vw, 1rem);
}

a{
    text-decoration: none !important;
    color: black;
    cursor: pointer;
}

ul{
    margin: 0;
    padding: 0;
}

.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.center{
    text-align: center;
}

.cake-holder{
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 15px;
}

.card-button{
    border: 2px solid #fae976;
    background: white;
    padding: 4px 40px;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
}

.card-button:hover{
    background: #ff6ea7;
    color: white;
    border: 2px solid #ff6ea7; 
    padding: 4px 50px;
}

.strike-price{
    color: grey;
}

.tab-cake li{
    display: inline-block;
    margin: 0px 20px;
}

.tab-cake img{
    margin:auto auto 10px;
    display:block;
}

.tab-cake li a{
    padding: 0 0 15px 0;
    background: none;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    border-left: none;
    border-right: none;
    font-size: clamp(11px, 2vw, 18px);
    display: inline-block;
    margin: 0 20px;
}

.order-button{
    border: 2px solid #fae976;
    background: white;
    padding: 10px 60px;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
}

.order-button:hover{
    background: #ff6ea7;
    color: white;
    border: 2px solid #ff6ea7;
    padding: 10px 80px; 
}

@media(max-width: 450px){
    .tab-name{
        font-size: 14px;
    }
    .tab-cake li{
        display: inline-block;
        margin: 0px 10px;
    }
}